/* Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Exo Font */
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Exo', sans-serif;
}

header {
    margin: 0;
}



.navbar {
    margin-bottom: 0;
    width: 100%;

    border: 0;
    position: absolute;
    z-index: 1;

}



.navbar-light .navbar-brand {
    margin-left: 20px;
    color: #fff;
}

.navbar-nav {
    border-radius: 20%;
}

.navbar-light .navbar-nav .nav-link {
    color: #f8f9fa;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #a6c6e6;
}


#navbarNav {
    margin-top: -100px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 25%;
}

@media (min-width: 576px) .navbar-expand-sm .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

.collapse:not(.show) {
    display: none;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    -ms-flex-align: center;
    margin-right: auto;
    flex-grow: 0;
    align-items: center;
}

.hero-section {
    position: relative;
    background: url('../images/hero\ image.jpg') no-repeat bottom right fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;

}

.custom-brand {
    height: 200px;
    display: flex;
    align-items: center;
}

.custom-brand img {
    max-height: 100%;
    margin-left: -30px;
    margin-top: -70px;
}


.section-title {
    padding: 50px 0;
    text-align: center;
    margin: 0 auto;
    display: flex;
    /* padding: 10px; */
    /* display: inline-block; */
    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.white {
    background-color: #fff;
}

.grey {
    background-color: #f7f7f7;
}

.container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    text-align: center;
}

/* .see-more-circle-btn {
    display: flex;
    width: 56px;
    height: 56px;
    background: #4E2DD2;
    border-radius: 100px;
    position: relative;
    margin-right: 20px;
    float: right;
} */


.title-text {
    flex-grow: 1;
}

.see-more-circle-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
}

.see-more-circle-btn:hover {
    background-color: #0056b3;
}

.see-more-text {
    display: none;
}

.see-more-circle-btn:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-image: url("../images/arr-white.png");
    background-size: contain;
    background-repeat: no-repeat;
    /* transform: rotate(-45deg); */
}

/* about */
/* #about {} */

#about .container-fluid,
#contact .container-fluid {
    grid-gap: 30px;
    display: block;

}

.summary {
    font-size: 1.2em;
    margin-bottom: 30px;
}



.experience,
.education {
    /* font-size: 1.5em; */
    margin-bottom: 30px;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 10px;
    margin-right: 10px;
}

/* services */
/* #services {
} */


/* max-width: 960px; */
.service {
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.service i {
    font-size: 48px;
    margin-bottom: 20px;
}

.service h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.service p {
    font-size: 16px;
    line-height: 1.5;
}

/* portfolio */




.portfolio-item {
    position: relative;
    margin: 20px;
    overflow: hidden;
    display: block;
    width: 400px;
    height: 300px;
    transition: all 0.3s ease;
}

.portfolio-item:hover img {
    transform: scale(1.1);
}

.portfolio-item img {
    display: block;
    width: 100%;
    height: auto;
    transition: all 0.3s ease;
}

.portfolio-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    opacity: 0;
    transition: all 0.3s ease;
}

.portfolio-item:hover .portfolio-overlay {
    opacity: 1;
}

/* testimonials*/


#testimonials .container-fluid {
    grid-gap: 30px;
}

.testimonial {
    /* background-color: #f7f7f7; */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    text-align: center;
}

.testimonial p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

.testimonial cite {
    font-size: 1rem;
    font-weight: bold;
}

/* blog */
/* .blog {} */


.post {
    width: 30%;
    margin: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.post img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.post:hover img {
    transform: scale(1.05);
}

.post h3 {
    font-size: 24px;
    margin: 10px;
}

.post p {
    margin: 10px;
    font-size: 16px;
    line-height: 1.4;
    max-height: 120px;
    overflow: hidden;
}

.see-more {
    display: block;
    margin: 10px;
    color: #fff;
    background-color: #212121;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.see-more:hover {
    background-color: #444;
}

.see-more i {
    margin-left: 5px;
}

/* contact */


#contact p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
}

#contact form {
    max-width: 600px;
    margin: 0 auto;
}

#contact .form-group {
    margin-bottom: 20px;
}

#contact label {
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
}

#contact textarea {
    height: 150px;
}

#contact button[type="submit"] {
    background-color: #0066cc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact button[type="submit"]:hover {
    background-color: #0052a3;
}

/* footer */

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}

.social-icons a:hover {
    transform: scale(1.1);
}

.facebook i {
    color: #3b5998;
}

.twitter i {
    color: #00aced;
}

.instagram i {
    color: #3f729b;
}

.linkedin i {
    color: #007bb6;
}

.youtube i {
    color: #cd201f;
}

/* other */

.see-more-section {
    display: inline-block;
    padding: 10px 20px;
    background-color: #008CBA;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.see-more-section:hover {
    background-color: #006B8F;
}

/* hero video */
/* #hero-video {
    position: relative;
    height: 500px;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fallback {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff;
} */